<% if (typeof(errors) === 'object' && errors.length > 0) { %>
    <p><b>The following errors have occured</b></p> 
    <% errors.forEach(function(error) { %>
        <p>
        <% if (typeof(error) === 'object') { %>
            <% Object.getOwnPropertyNames(error).forEach(function(property) { %>
                <% if (error[property]) { %>
                    <b><%= property%>:</b>
                    <%= error[property] %>
                    <br>
                <% } %>
            <% }) %>
        <% } %>
        </p>
    <% }) %>
<% } %>
