html {
    // height: 100%;
}

body {
    background-color: #ccc;
    margin: 0;
    padding: 0px;
    // height: 100%;
}

.container {
    width: @screenWidth;
    padding: 15px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: @white - 30;
    border-style: solid;
    border-color: @white - 15;
    border-width: 15px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
}

