nav {
    width: 800px;
    margin: 0 auto;
	ul {
		margin: 0; padding: 0; border: 0;
		li {
		    float: left;
			position: relative;
			display: inline;
			&:hover > ul { opacity: 1; visibility: visible; }
			a {
			    padding: 10px;
				display: inline-block;
				color: white;
				&:hover { text-decoration: none; background: @black + 120;}
			}
			
    		ul {
    		    position: absolute;
    		    opacity: 0; visibility: hidden;
    		    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.3);
    		    li {
    		        a {
    		            width: 100px;
    		            background: white;
    		            border-bottom: 1px solid @black + 100;
    		            border-left: 1px solid @black + 100;
    		            border-right: 1px solid @black + 100;
    		            
    		            color: black;
    		            &:hover { background: @white - 30;}
    		        }
    		        position: relative;
    		        ul {
    		            position: absolute; top: 0; left: 100%;
    		        }
    		    }
	    	}
		}
	}
}

.nav {
	margin: 20px 0;
	display: block;
	float: left;
	ul {
		margin: 0; padding: 0;
		background-color: @black + 130;
		background: linear-gradient(@black + 160 0%, @black + 130 50%, @black + 130 51%, @black + 140 100%);
		@start: @black + 160;
		@end: @black + 140;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@start, endColorstr=@end);
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4), 0 0 1px 0 rgba(255, 255, 255, 0.3) inset;
		border: 1px solid @black + 110; .border-radius(3px);
		float: left;
		li {
			position: relative;
			width: 158px;
			border-style: solid; border-width: 0 1px 0 1px; border-color: transparent rgba(0, 0, 0, 0.2) transparent rgba(255, 255, 255, 0.2);
			display: inline-block;
			float: left;
			text-align: center;
			&:first-child { border-left:  none; }
	        &:last-child  { border-right: none; }
			&:hover       { background-color: rgba(0, 0, 0, 0.1); }
	        &:hover > ul  { opacity: 1; visibility: visible;}
			a {
				font-family:'Exo 2', sans-serif;
                font-weight: 700;
                text-decoration: none;
                text-shadow: 0 1px rgba(0, 0, 0, 0.5);
                color: @white - 20;
				display: block;
				padding: 10px 0;
				&:hover { text-decoration: none; }
			}
			ul {
				width: 100%;
				display: block; 
				opacity: 0; visibility: hidden; transition: opacity 0.1s ease;
				position: absolute; top: 100%; left: -1px;
				border-radius: 0 0 3px 3px; border-color: @black + 40;
				li {
					width: 100%;
					position: relative;
					display: block;
					background-color: @black + 50;
					border-style: solid;
					border-width: 1px 0 1px 0;
					border-color: rgba(255, 255, 255, 0.1) transparent rgba(0, 0, 0, 0.1) transparent;
					text-align: left;
					&:first-child { border-width: 1px 0 1px 0; }
			        &:last-child  { border-width: 1px 0 0 0; }
			        &:hover       { background-color: @black + 40; }
					a { font-weight: 400; padding-left: 10px; }
					ul {
						width: 100%;
						position: absolute;	top: -2px; left: 100%;
						border-radius: 0;
					}
				}
			}
		}
	}
}