<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Exo+2:400,600,700italic&subset=latin,latin-ext">
        <title><% title %></title>
    </head>
    
    <body>
        <div class="container">
            <div class="logo" data-text="Tennis City">Tennis City</div>
            <nav>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
            <% include content %>
        </div>
    </body>
</html>