doctype html
html
    head
        link(rel='stylesheet' type='text/css' href='/css/style.css')
        // link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Exo+2:400,600,700italic&subset=latin,latin-ext')
        link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700')
        script(src='/script/jquery.js')
        script(src='/script/jquery.fix.clone.js')
        title labas
    body
        .top
        .top2
            nav
                ul
                    li: a(href='/users') Users
                    li
                        a(href='#') Link 2
                        ul
                            li: a(href='#') Link 2.1
                            li
                                a(href='#') Link 2.2
                                ul
                                    li: a(href='#') Link 2.2.1
                                    li: a(href='#') Link 2.2.2
                                    li: a(href='#') Link 2.2.3
                            li: a(href='#') Link 2.3
                    li: a(href='#') Link 3
                    li: a(href='#') Link 4
                    li: a(href='#') Link 5
            
        .container
            block title
            p: b= message.text
            if errors.length > 0
                h2 The following errors have occured:
                pre
                    - var i = 0
                    each error in errors
                        - i++
                        b= 'error #' + i
                        - var properties = Object.getOwnPropertyNames(error)
                        br
                        br
                        each property in properties
                            if error[property] !== undefined
                                strong= property
                                br
                                = error[property]
                                br
            block content 