<h1>This is a Title</h1>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <p><a href="/users/add">Add</a></p>
    <p><a href="/users/delete">Delete</a></p>
    <div class="form-container">
        <form>
            <button>Grumpy</button>
            <input type="text">
            <input type="text">
            <input type="checkbox">
        </form>
    </div>
    <% users.forEach(function(user) { %>
        <pre>
            <%= JSON.stringify(user, null, '    ') %>
        </pre>   
    <% }) %>
</div>